---
---

@import 'bootstrap/bootstrap';

html,body{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility; 
    font-weight:normal;
    overflow-x:hidden;
}

html {
    scroll-behavior: smooth;
  }

.container, .container-fluid-padding{
    padding-right:60px;
    padding-left:60px;
}
.container-fluid{
    padding:0px;
}
 
.h-100{
    min-height:calc(100vh - 180px) !important;
}

#typed{
    height:100px;
}

.middle-phrase{
    display:none;
    // color:white;
}
.middle-phrase:before{
    position:absolute;
    color:$dark;
    content:attr(data-before);
    left:0px;
    top:-10px;
    width:100%;
    text-align:center;
}
.middle-phrase:first-child{
    display:inherit;
    border-bottom:8px dotted $pink;
    animation: moveUp 5s; 
    position:relative;
}

.rw-sentence{
    overflow-y:hidden;
    // background-color: yellow;
    height:100px;
    position:relative;
}

.rw-sentence span{
	white-space: nowrap;
}
.rw-words{
	display: inline;
	text-indent: 10px; 
}
.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
    // background-color:orange;
    animation: rotateWordsFirst 6s linear infinite 0s;
    margin:auto;
    width:100%;
    text-align:center;
}
.rw-span-container{
    border-bottom:7px dotted black;  
    width: 600px;
    display: inline-block;
    position: relative;
    animation: underlineColor 6s linear infinite 0s;
}

// .rw-words-2 span{
// 	animation: rotateWordsSecond 4s linear infinite 0s;
// }
.rw-words span:nth-child(2) { 
	animation-delay: 1.2s; 
}
.rw-words span:nth-child(3) { 
	animation-delay: 2.4s; 
}
.rw-words span:nth-child(4) { 
	animation-delay: 3.6; 
}

@keyframes moveUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

// @keyframes rotateWordsFirst {
//     0% { opacity: 0; animation-timing-function: ease-in; height: 0px; }
//     8% { opacity: 1; height: 60px; }
//     19% { opacity: 1; height: 60px; }
// 	25% { opacity: 0; height: 60px; }
//     100% { opacity: 0; }
// }

@keyframes rotateWordsFirst {
    0% { opacity:1; top: 100px; }
    8% { opacity:1; top: -100px; }
    19% { opacity:1; top: -100px; }
	25% { opacity:1; top: -200px; }
    75% { opacity:1; top: -200px; }
    100% { opacity:1; top: -200px; }
}

@keyframes underlineColor {
    0% { border-color: $pink;  }
    8% { border-color: $pink; }
    19% { border-color: $pink; }
	25% { border-color: $orange; }
    43% { border-color: $orange; }
    45% { border-color: $teal;}
    100% { border-color: $teal; }
}

.navbar-toggler{
    border:0px;
}
a.navbar-toggler:hover{
    border-bottom:0px !important;
    text-decoration: none;
}

.navbar-toggler div{
    width:11px;
    height:11px;
    border-radius:50%;
    margin:3px;
    background-color: $dark;
    display:inline-block;
    margin-top:40px;
}

.navbar-collapse.show{
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background-color:$dark;
    color:white;
    text-align:center;
    z-index:2;
    .nav-link{
        color:white !important;
        text-align:center;
        font-size: 40px;	
        letter-spacing: -1.92px;	
        line-height: 80px;
        margin-bottom:30px;
        margin-left:0px !important;
    }
}

a:not(.btn):not(.social-link):not(.appStore-button):not(.navbar-toggler):not(.navbar-brand):not(.float-left):not(.listing-link):hover, .underlined{
    background-color: none !important;
    border:none !important;
    border-bottom: 5px dotted $dark !important;
    border-bottom-width:5px;
    border-right-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    color:$dark;
    text-decoration:none;
}

.underlined.purple{
    border-bottom: 5px dotted $purple !important;
}

h1.underlined{
    border-bottom: 8px dotted $dark !important;
    border-bottom-width:8px;
}

.case-study-underline{
    width:500px;
    border-bottom:12px dotted $orange;
    position: absolute;
    top: 60%;
    left: calc(50% - 250px);
}

.case-study-hero{
    width:300px;
    margin:auto;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    left:calc(50% - 150px);
}

p, a, .nav-link{
    font-size: 22px;	
    line-height: 32px;
    color:$dark;
}

.modal-dialog {
    max-width: 1790px;
    margin:60px;
}

h1{
    	font-size: 86px;	
        letter-spacing: -4.12px;	
        line-height: 121px;
        color: $dark;
}

h2{
    	font-size: 48px;	
        line-height: 56px;
        color: $dark;
}
h2.bold, h3.bold{
    font-weight:bold;
}

h4{
    	font-family: Maax;	
        font-size: 16px;	
        font-weight: bold;	
        line-height: 23px;
}
.no-underline:hover {
    text-decoration: none;
    border-bottom:0px;
}
.background-image{
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.background-image-landing{
    background-position: top left;
    background-size: auto 100vh;
    background-repeat:no-repeat;
}

.hero-sm{
    width:100vw;
    position:absolute;
    bottom:0px;
    left:0px;
    height:50vh;
    background-position:80% 0px;
    background-repeat:no-repeat;
    background-size:cover;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100px;
  overflow: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
  -webkit-animation: marquee 32s linear infinite;
  -moz-animation:  marquee 32s linear infinite;
  -o-animation:  marquee 32s linear infinite;
    img{
      width:60px;
      margin:20px 30px 10px 30px;
    }
    .marquee-item{
      position:relative;
      top:0px;
      transition:200ms;
    }
    .marquee-item:hover{
      top:-20px;
    }
}

.track:hover{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;
}

.insights-img{
    width:100%;
    padding-top:100%;
    position:relative;
    border-radius:50%;
    background-repeat:no-repeat;
}


// @keyframes marquee {
//   0% {
//     transform: translate(0, 0);
//   }
//   100% {
//     transform: translate(-100%, 0);
//   }
// }

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


.navbar{
    padding:0px;
}
.navbar-nav{
    padding-top:70px;
}
.navbar-brand{
    width:	220px;
    padding-top:20px;
}
.navbar-light .navbar-nav .nav-link{
    color: $dark;
    padding:0px;
    margin-left:50px;
    height:36px;
}

.navbar-light .navbar-nav .nav-link:first-child:hover{
    border-bottom: 5px dotted $purple;
}
.navbar-light .navbar-nav .nav-link:nth-child(2):hover{
    border-bottom: 5px dotted $teal;
}
.navbar-light .navbar-nav .nav-link:nth-child(3):hover{
    border-bottom: 5px dotted $orange;
}

.pt-intro{
    padding-top:150px;
}

.bg-dark *{
    color:white;
}

.bg-purple{
    background-color:$purple;
    p{color:white;}
}
.bg-teal{
    background-color:$teal;
    p{color:white;}
}
.bg-pink{
    background-color:$pink;
    p{color:white;}
}
.bg-orange{
    background-color:$orange;
    p{color:white;}
}

.smartphone{
    height:542px;
    width:281px;
    border-radius:39px;
    background-color:white !important;
    box-shadow:6px 6px 15px black;
    position:relative;
}
.smartphone img{
    position:absolute;
    top: -38px;
    left: -43px;
    width: 130%;
    margin:auto;
}

.static{
    opacity:1;
}

.static:hover {
  opacity:0;
}

a.purple:hover{
    color: $purple;
    border-bottom: 5px dotted $purple !important;
}

.btn{
    background-color: $purple;
    border-radius: 10px;
    padding:22px;
    width:282px;
    text-align:center;
    color: white;
    font-size: 26px;
    border:0px;
    opacity:1;
    transition: opacity 300ms;
}
.btn:hover{
    opacity:.8;
}
.btn.btn-primary{
    background-color:$purple;
}
.btn.btn-secondary{
    background-color:$dark;
}


.listing-link{
    display:block;
    margin-bottom:16px;
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

.listing-link:hover{
    // border-bottom:3px dotted;
    text-decoration:none;
}

.listing-link:nth-child(4n+1):hover{
    color:$purple;
}
.listing-link:nth-child(4n+2):hover{
    color:$orange;
}
.listing-link:nth-child(4n+3):hover{
    color:$teal;
}
.listing-link:nth-child(4n+4):hover{
    color:$pink;
}

.twoColumns{
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}

.text-decoration-none{
    text-decoration:none !important;
}

#team > a{
    width:14.2857%;;
    .team-image-caption{
        visibility: hidden;
        *{
            font-size: 16px;	
            line-height: 22px;
        }
    }
    img{
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
}
#team > a:hover{
    .team-image-caption{
        visibility: visible;
    }
    img{
        -webkit-filter: inherit; /* Safari 6.0 - 9.0 */
        filter: inherit;
    }
}

// #team{
//     height: 700px;
// }

.modal-content{
    border:0px solid black;
    border-radius: 0px;
    button{
        opacity:1;
        padding:10px;
    }
    button:hover{
        opacity:1;
    }
}

h2.modal-name{
    font-size: 48px;	
    line-height: 58px;
    font-weight:bold;
}
h2.modal-title{
    font-size: 48px;	
    line-height: 58px;
}
.modal img{
    position:absolute;
    bottom:0px;
}
.btn-primary-outlined{
    border:1px solid $dark;
    background-color:transparent;
    color: $dark;
    transition: 300ms;
}

.btn-primary-outlined:hover{
    border:1px solid $pink;
    background-color:$pink;
    color: #000000;
}

.social-link img{
    width:25px;
}

input[type=text] {
    background-color: transparent;
    border: 0px;
    outline:none;
    border-bottom:4px dotted $grey;
    border-bottom-width: 4px;
    border-right-width:0px;
    border-top-width:0px;
    border-left-width:0px;
}
input[type=text]:focus{
    border-bottom:4px dotted $dark;
}

input[type=text]::placeholder{
    color: $dark;
}

#footer *{
   color: $dark !important;
}
#footer{
    a{
        font-size:16px;
        line-height:23px;
    }
    a:not(.appStore-button):hover{
        border-bottom: 2px dotted $dark !important;
        border-bottom-width:2px;
    }

}

#pointer-sm-none{
        pointer-events:none;
        *:hover{
            border-bottom:0px;
        }
    }

.appStore-button img{
    height:40px;
    margin-right:10px;
}

.article-inner{
    background-color:white; 
}
.article-img{
    height:300px;
    width:100%;
}
.article-title{
    font-size: 30px;	
    font-weight: bold;	
    line-height: 33px;
}
.publisher{
    font-size: 22px;	
    font-weight: bold;	
    line-height: 34px;
}
.featured-image{
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel{
    background-color:white;
}

.carousel-indicators {
    bottom:-50px;
    li{
    width:17px;
    height:17px;
    border:1px solid black;
    background-color:transparent;
    opacity:1;
    border-radius:17px;
    }
}

.developer-cards{
    min-height:300px;
    height:300%;
    // display:flex;
}

.developer-card{
    width:20%;
    padding:65px 50px;
    p{
        color:white;
    }
    p.bold{
        max-width:180px;
    }
}

p.bold{
    font-weight:bold;
}
p.sm{
    font-size:15px;
}

.articles .article:nth-child(4n+1) .article-inner .publisher, .carousel-item:nth-child(4n+1) .publisher{
    color: $teal;
}
.articles .article:nth-child(4n+2) .article-inner .publisher, .carousel-item:nth-child(4n+2) .publisher{
    color: $purple;
}
.articles .article:nth-child(4n+3) .article-inner .publisher, .carousel-item:nth-child(4n+3) .publisher{
    color: $pink;
}
.articles .article:nth-child(4n+4) .article-inner .publisher, .carousel-item:nth-child(4n+4) .publisher{
    color: $orange;
}

.article-link:hover .article-title{
    text-decoration:underline;
}

.number-block{
    padding:180px 0px;
}

#increasingNumber{
    font-size: 188px;	
    line-height: 188px;
}

.emogi{
    background-color:white;
    border-radius:150px;
    width:100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; 
    background-size:80%;
    background-repeat:no-repeat;
    background-position:center;
    // display:inline-block;
}

.case-study-thumb{
    width:430px;
    height:430px;
    border:1px solid $dark;
    border-radius:215px;
    margin:50px;
    img{
        width:60%;
        position:absolute;
        transform:translateY(-50%) translateX(-50%);
        top:50%;
        left:50%;
    }
}

.back-link{
    border-bottom: 4px dotted white;
}
.back-link:hover{
    color: $orange !important;
    border-bottom: 4px dotted $orange  !important;
}


.measurement-partners img{
    width:93px;
    display:inline-block;
    margin-right:20px;
}

.developers-vid{
    width: 100%;
    position: relative;
    left: -10%;
    z-index: -1;
}

.insight{
    border-bottom:1px solid $dark;
    margin-bottom:0px;
}

.insight:last-child{
    border-bottom:0px;
}

.case-study-gif{
    padding-top:100%;
    width: 100%;
    background-color:white;
    border-radius:100%;
    position:relative;
    img{
        top:50%;left:50%;
        transform:translateY(-50%) translateX(-50%);
        width:60%;
    }
}

.bg-light + #footer{
    background-color:white !important;
}


@media (min-width: 992px){
    // #team{
    //     left:0px !important;
    // }
}


@media (max-width: 1199.98px) { 

    p, a, .nav-link{
    font-size: 20px;	
    line-height: 28px;
    }

    h2{
        font-size:36px;
        line-height:42px;
    }

    a:not(.btn):not(.navbar-brand):not(.navbar-toggler):not(.float-left):not(.listing-link):hover, a.underlined{

        border-bottom: 4px dotted $dark !important;
        border-bottom-width:4px;
    }

    .smartphone img {
        top: -25px;
        left: -30px;
        width: 130%;
    }

    .smartphone {
        height: 383px;
        width: 200px;
    }
   

}


@media (max-width: 991.98px) { 



    .twoColumns{
        -webkit-column-count: 1;
        -moz-column-count: 1;
                column-count: 1;
    }

    #increasingNumber{
        font-size: 70px;	
        line-height: 80px;
    }

    .number-block{
        padding:80px 0px;
    }

    .developer-card{
        width:100%;
        padding:30px;
        p.bold{
            max-width:none;
        }
    }

    .dev-btn{
        width:100%;
    }

    #team{
        left:3px;
    }
    #team > a{
    width:50%;
    }

    .container, .container-fluid-padding{
        padding-right:40px;
        padding-left:40px;
    }

    .featured-image{
        height:100vw;
        max-height:500px;
    }

    .modal img{
        position:static;
    }

   

    .carousel-content{
        padding-top:50px;
        padding-bottom:50px;
    }
    // .articles .article:nth-child(8n+2) .article-inner, .articles .article:nth-child(8n+3) .article-inner, .articles .article:nth-child(8n+6) .article-inner, .articles .article:nth-child(8n+7) .article-inner{
    //     background-color: white;
    // }
    // .articles .article:nth-child(8n+1) .article-inner{
    //     background-color: $orange;
    // }
    // .articles .article:nth-child(8n+3) .article-inner{
    //     background-color: $purple;
    // }
    // .articles .article:nth-child(8n+5) .article-inner{
    //     background-color: $pink;
    // }
    // .articles .article:nth-child(8n+7) .article-inner{
    //     background-color: $teal;
    // }

    .navbar-brand{
        width:	150px;
    }

    .case-study-thumb{
    width:330px;
    height:330px;
    margin:0px;
    margin-bottom:20px;
    margin-top:30px;
}

h2.modal-title {
    font-size: 34px;
    line-height: 40px;
}

.modal-dialog{
    margin:26px;
}


    #team{
            // height: 500px;
            // overflow-x: scroll;
            // /* height: 275px; */
            // width: 2000px;
            // overflow: auto;
            // white-space: nowrap;
            // overflow-x: scroll;
            // overflow-y: hidden;
            // white-space: nowrap;
            // display: flex;
            // flex-wrap: nowrap;
            // overflow-x: auto;

            > a{
                width: 48%;
                height: 370px;
            }
            > a .team-image-caption{
                visibility:visible;
            }
    }

}

@media (max-width: 767.98px) {   
    .background-image-landing{
        background-size:0px;
    }

    .btn-full{
        width:100%;
    }
 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

    .marquee {
        height: 90px;
    }

    p, a, .nav-link{
        font-size: 16px;	
        line-height: 20px;
    }

    h2{
        font-size:24px;
        line-height:30px;
    }
    
    .container, .container-fluid-padding{
        padding-right:24px;
        padding-left:24px;
    }

    .pt-intro{
        padding-top:50px;
    }


   
}
