---
layout: bg-image
permalink: /advertisers/
title: Advertisers
image: /assets/img/advertisers-img.jpg
apps:
  - image: /assets/Badoo.png
    title: Badoo
  - image: /uploads/bobble.png
    title: Bobble
  - image: /uploads/chatall.png
    title: ChatAll
  - image: /uploads/chroomakeyboard.png
    title: Chrooma Keyboard
  - image: /assets/Fleksy.png
    title: Fleksy
  - image: /assets/HotorNot.png
    title: Hot or Not
  - image: /assets/MoodMessenger.png
    title: Mood Messenger
  - image: /assets/ReBoard.png
    title: ReBoard
  - image: /assets/Twitch.png
    title: Twitch
  - image: /assets/UberSocial.png
    title: Uber Social
  - image: /assets/Viber.png
    title: Viber
  - image: /assets/iMessage-icon.png
    title: iMessage
  - image: /assets/textNow.png
    title: TextNow
  - image: /assets/textPlus.png
    title: textPlus
  - image: /assets/trutext.png
    title: trutext
measurement-partners:
  - image: /assets/img/Nielsen.png
  - image: /assets/img/Millward Brown.png
  - image: /assets/img/Placed.png
  - image: /assets/img/NinthDecimal.png
  - image: /assets/img/AppsFlyer.png
meta-content:
  image:
  description:
---

<div class="container-fluid">
    <div class="container">
        <div class="row h-100 h-sm-auto">
            <div class="col-md-6 col-xl-4 mt-5 my-md-auto text-center text-md-left">
                <h2 class="mb-4 editable">
                  Connect with people who are having billions of conversations each day related to your business.
                </h2>
            </div>
        </div>
        <div class="hero-sm d-md-none" style="background-image:url({{page.image}})"></div>
    </div>
</div>
<div class="container-fluid text-center pb-3 pb-md-5 pt-5">
    <h2 class="mt-5 mb-3 mb-md-5 editable px-3">
      With Holler reach people while they message on their favorite apps
    </h2>
    <div class="marquee">
        <div class="track">
            {% for app in page.apps %}
            <div class="d-inline-block marquee-item">
                <img src="{{ app.image }}" />
                <p class="sm">{{ app.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-fluid bg-teal">
    <div class="container text-center number-block">
        <h1 id="increasingNumber"><span>4.1</span> billion</h1>
        <h2 class="editable">
          content recommendations per month
        </h2>
    </div>
</div>
<div class="container-fluid bg-light pb-5">
    <div class="container">
        <div class="row py-4 py-md-5">
            <div class="col-md-6 mb-2">
                <h2 class="editable">
                  Join your customer&rsquo;s conversations naturally and authentically
                </h2>
            </div>
            <div class="col-md-6">
                <p class="editable">
                  With the Holler platform you can deliver branded sticker content seamlessly in billions of conversations each day --- when they need it most.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center py-5 bg-dark">
                <div class="row mb-5">
                    <div class="col-6 offset-3">
                        <p class="bold editable">
                          Smart Suggestions
                        </p>
                        <p class="editable">
                          Real time content recommendations based on context of conversation
                        </p>
                    </div>
                </div>
                <div class="smartphone m-auto">
                <img class="active" src="/assets/img/SmartSuggestionsFlow.gif" />
                <!-- <img class="static d-none d-md-block" src="/assets/img/SmartSuggestionsFlow.png" /> -->
            </div>
            </div>
            <div class="col-md-6 text-center py-5 bg-purple">
                <div class="row mb-5">
                    <div class="col-6 offset-3">
                        <p class="bold editable">
                          Search
                        </p>
                        <p class="editable">
                          Powerful text and emotion based search helps users find the perfect sticker
                        </p>
                    </div>
                </div>
                <div class="smartphone m-auto">
                <img class="active" src="/assets/img/SearchFlow.gif" />
                <!-- <img class="static d-none d-md-block" src="/assets/img/SearchFlow.png" /> -->
            </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center py-5" id="case-studies">
    <h2 class="editable">
      Build your brand
    </h2>
    <div class="row">
        <div class="col-8 offset-2 col-md-6 offset-md-3">
            <p class="editable">
              Deliver branded content to your customers at key emotions or need states to build your brand&rsquo;s association in relevant conversations.
            </p>
        </div>
    </div>
    <div class="case-study-thumbs">
        {% for case in site.casestudies %}
        <div class="d-inline-block">
            <a href="{{case.url}}">
                <div class="case-study-thumb position-relative">
                    <img src="{{case.hero-animation[0].image}}" />
                </div>
                <p>{{case.title}}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container-fluid bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-5">
                <div class="insights-img background-image" style="background-image: url('/assets/img/holler_insights.gif')">
                </div>
            </div>
            <div class="col-md-5 offset-md-1">
                <h2 class="mt-4 mt-md-0 mb-4 editable text-center text-md-left">
                  Tools to help you measure success
                </h2>
                <p class="bold mb-1 editable">
                  Insights
                </p>
                <p class="editable">
                  Plan your campaign based on conversations relevant to your business
                </p>
                <p class="bold mb-1 editable">
                  Targeting
                </p>
                <p class="editable">
                  Contextual targeting by conversation topic
                </p>
                <p class="bold mb-1 editable">
                  Reporting
                </p>
                <p class="editable">
                  Get reports on engaged users of your campaign
                </p>
                <p class="bold mb-1 editable">
                  Measurement
                </p>
                <p class="editable">
                  Measure success of your initiatives with our network of measurement partners
                </p>
                <div class="measurement-partners">
                    {% for logo in page.measurement-partners %}
                    <img src="{{logo.image}}" />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>