---
layout: bg-image
permalink: /advertisers
title: Advertisers
image: /assets/img/Holler_Background3_2.jpg
apps:
  - image: /uploads/Badoo_icon.png
    title: Badoo
  - image: /assets/Bobble3.png
    title: Bobble
  - image: /uploads/image-from-ios.png
    title: ChatAll
  - image: /assets/ChroomaKeyboard3.png
    title: Chrooma Keyboard
  - image: /assets/hotornot3.png
    title: Hot or Not
  - image: /uploads/Kika2.png
    title: Kika
  - image: /assets/moodmessenger3.png
    title: Mood Messenger
  - image: /assets/ReBoard.png
    title: ReBoard
  - image: /assets/img/Twitch_2.png
    title: Twitch
  - image: /assets/UberSocial.png
    title: Uber Social
  - image: /assets/img/Viber_2.png
    title: Viber
  - image: /assets/img/iMessage_2.png
    title: iMessage
  - image: /assets/img/textNow_2.png
    title: TextNow
measurement-partners:
  - image: /assets/img/Nielsen_2.png
    image_alt_text:
  - image: /assets/img/Millward_Brown_2.png
    image_alt_text:
  - image: /assets/img/Placed_2.png
    image_alt_text:
  - image: /assets/img/NinthDecimal_2.png
    image_alt_text:
  - image: /assets/img/AppsFlyer_2.png
    image_alt_text:
meta-content:
  image: /uploads/advertisers.jpg
  description: >-
    At Holler, our AI-driven content engine understands the context of a digital
    conversation and then serves up relevant branded content for users to share
    directly within the messaging apps they use everyday. Learn more here.
---

<div class="container-fluid">
    <div class="container">
        <div class="row h-100 h-sm-auto">
            <div class="col-md-6 col-xl-4 mt-5 my-md-auto text-center text-md-left">
                <h2 class="mb-4 editable">
                  Connect with people who are having billions of conversations each day related to your business.
                </h2>
            </div>
        </div>
        <div class="hero-sm d-md-none" style="background-image:url({{page.image}})"></div>
    </div>
</div>
<div class="container-fluid text-center pb-0 pt-0 pt-md-5">
    <h2 class="mt-5 mb-3 mb-md-5 editable px-3">
      With Holler reach people while they message on their favorite apps
    </h2>
    <div class="marquee" id="marquee">
      <div class="marquee--inner">
        <span>
          {% for app in page.apps %}
          <div class="orb">
            <img class="img-fluid" src="{{ app.image }}" alt="{{app.title}}" />
            <p class="sm">{{ app.title }}</p>
          </div>
          {% endfor %}
        </span>
        <span>
          {% for app in page.apps %}
          <div class="orb">
            <img class="img-fluid" src="{{ app.image }}" alt="{{app.title}}" />
            <p class="sm">{{ app.title }}</p>
          </div>
          {% endfor %}
        </span>
      </div>
    </div>

</div>
<div class="container-fluid bg-teal">
    <div class="container text-center number-block">
        <h1 id="increasingNumber"><span>5.1</span> billion</h1>
        <h2 class="editable">
          content recommendations per month
        </h2>
    </div>
</div>
<div class="container-fluid bg-light pb-5">
    <div class="container">
        <div class="row py-4 py-md-5">
            <div class="col-md-6 mb-2">
                <h2 class="editable">
                  Join your customer&rsquo;s conversations naturally and authentically
                </h2>
            </div>
            <div class="col-md-6">
                <p class="editable">
                  With the Holler platform you can deliver branded sticker content seamlessly in billions of conversations each day --- when they need it most.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center py-5 bg-dark">
                <div class="row mb-5">
                    <div class="col-6 offset-3">
                        <p class="bold editable">
                          Smart Suggestions
                        </p>
                        <p class="editable">
                          Real time content recommendations based on context of conversation.
                        </p>
                    </div>
                </div>
                <div class="smartphone m-auto">
                <img class="active editable" alt="" src="/assets/img/AdvertsPage_SmartSuggestFlow.gif" />
                <!-- <img class="static d-none d-md-block" src="/assets/img/SmartSuggestionsFlow.png" /> -->
            </div>
            </div>
            <div class="col-md-6 text-center py-5 bg-purple">
                <div class="row mb-5">
                    <div class="col-6 offset-3">
                        <p class="bold editable">
                          Search
                        </p>
                        <p class="editable">
                          Powerful text and emotion based search helps users find the perfect sticker.
                        </p>
                    </div>
                </div>
                <div class="smartphone m-auto">
                <img class="active editable" alt="" src="/assets/img/AdvertsPage_SearchFlow.gif" />
                <!-- <img class="static d-none d-md-block" src="/assets/img/SearchFlow.png" /> -->
            </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center py-5" id="case-studies">
    <h2 class="editable">
      Build your brand
    </h2>
    <div class="row">
        <div class="col-8 offset-2 col-md-6 offset-md-3">
            <p class="editable">
              Deliver branded content to your customers at key emotion or need states to build your brand&rsquo;s association in relevant conversations.
            </p>
        </div>
    </div>
    <div class="case-study-thumbs">
        {% for case in site.casestudies %}
        <div class="d-inline-block">
            <a href="{{case.url}}">
                <div class="case-study-thumb position-relative">
                    <img alt="{{case.hero-animation[0].image_alt_text}}" src="{{case.hero-animation[0].image}}" />
                </div>
                <p>{{case.title}}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container-fluid bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-5">
                <div class="insights-img background-image" style="background-image: url('/assets/img/holler_insights.gif')">
                </div>
            </div>
            <div class="col-md-5 offset-md-1">
                <h2 class="mt-4 mt-md-0 mb-4 editable text-center text-md-left">
                  Tools to help you measure success
                </h2>
                <p class="bold mb-1 editable">
                  Insights
                </p>
                <p class="editable">
                  Plan your campaign based on conversations relevant to your business.
                </p>
                <p class="bold mb-1 editable">
                  Targeting
                </p>
                <p class="editable">
                  Contextual targeting by conversation topic.
                </p>
                <p class="bold mb-1 editable">
                  Reporting
                </p>
                <p class="editable">
                  Get reports on engaged users of your campaign.
                </p>
                <p class="bold mb-1 editable">
                  Measurement
                </p>
                <p class="editable">
                  Measure success of your initiatives with our network of measurement partners.
                </p>
                <div class="measurement-partners">
                    {% for logo in page.measurement-partners %}
                    <img class="mb-3 mr-3" alt="" src="{{logo.image}}" />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>