---
layout: default
permalink: /careers/
title: Careers
image: /uploads/careeers.jpg
description: >-
  Holler is growing rapidly and is always looking for people to join the team.
  Take a look at the current career options here to see if there’s a position
  that’s right for you.
---

<div class="container">

    <div id="typed-strings">
            {% for listing in site.listings %}
                <p>{{ listing.shorthand-for-animation }}</p>
            {% endfor %}
    </div>


    <div class="row h-100 bg-teal">
        <div class="col-10 offset-1 my-auto">
            <h2 class="text-center">We are growing rapidly and are actively looking for passionate people that want to help define the future of online conversations. <br><br />Holler if you are<br> <span id="typed" class="underlined white"></span></h2>
        </div>
    </div>
    <div class="row mt-4 mt-md-5">
        <div class="col-12">
            <p class="mb-md-4 editable">
              <b>Career Opportunities</b>
            </p>
        </div>
        <div class="col-md-6 col-lg-3 mb-3 mb-md-5">
            <p class="editable">
              If you don&rsquo;t see a position related to your experience and would like to keep in touch for future opportunities, please email <a href="mailto:careers@holler.io">careers@holler.io</a> with your resume, LinkedIn URL and a note about what you could do for us!
            </p>
        </div>
        <div class="col-md-6 col-lg-8 offset-lg-1 mb-5">
            <p class="twoColumns">
            {% for listing in site.listings %}
            <a href="{{ listing.url }}" target="_blank" class="listing-link">
                <b>{{ listing.position }}</b><br />
                {{ listing.timeframe }}
            </a>
            {% endfor %}  
            </p>          
        </div>
    </div>
</div>

<script type="text/javascript">
        var typed = new Typed("#typed", {
            stringsElement: '#typed-strings',
            typeSpeed: 10,
            backSpeed: 10,
            backDelay: 1600,
            startDelay: 1000,
            loop: true
        });
    </script>
