---
layout: default
permalink: /developers/
title: Developers
show-video: true
meta-content:
  image:
  description: >-
    Give users a richer messaging experience with the Holler Sapphire Kit which
    includes original sticker content, intuitive smart suggestions and a robust
    search tool. Check it out here.
---

<div class="container-fluid h-100">
    <div class="container">
        <div class="row h-100">
            <div class="col-md-6 col-xl-5 my-auto order-md-2">
                <video class="d-none d-sm-block developers-vid" autoplay loop muted playsinline>
                    <source src="/assets/vid/DevPage_Animation_V02.webm" type="video/webm" />
                    <source src="/assets/vid/DevPage_Animation_V02.mp4" type="video/mp4" />
                </video>
                <img class="d-sm-none img-fluid" src="/assets/img/DevPage_Animation_V02-min.gif" />
            </div>
            <div class="col-md-6 col-lg-5 offset-lg-1 my-auto order-md-1">
                <div>
                <h2 class="mb-3 mb-md-4 editable mt-md-5">
                  Give your users a richer chat experience with the Holler Sapphire Kit:
                </h2>
                <p class="editable">
                  With Holler, you can equip your users with the tools they need to enrich their online conversations. From intuitive smart suggestions to a robust search feature, users can find content that fits their specific needs, at the moment when they need it most. Holler lets users express themselves when words just aren&rsquo;t enough.
                </p>
                <a href="https://google.com" class="btn btn-primary-outlined dev-btn mt-3 mb-4 mt-md-4 editable" target="_blank">Get the Kit</a>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="container-fluid bg-light py-4 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-1">
                <h2 class="editable">
                  Content for everyone, everywhere.
                </h2>
            </div>
            <div class="col-md-5 offset-md-1">
                <p class="editable">
                  People all around the world use stickers to express themselves. That&rsquo;s why our platform has the largest catalogue of stickers built for global audiences. Give your users access -- free of charge.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="developer-cards d-lg-flex">
        <div class="d-md-inline-block bg-dark developer-card" data-aos="fade-up">
            <p class="bold editable" data-aos="fade-up" data-aos-delay="800">
              Exclusive Original Content
            </p>
            <p class="editable" data-aos="fade-up" data-aos-delay="800">
              Get access to our catalogue of thousands of stickers developed by our in house studio.
            </p>
        </div><div class="d-md-inline-block bg-purple developer-card" data-aos="fade-up" data-aos-delay="200">
            <p class="bold editable" data-aos="fade-up" data-aos-delay="800">
              Access 3rd Party Rights
            </p>
            <p class="editable" data-aos="fade-up" data-aos-delay="800">
              Gain access to content from sports teams, influencers, and more.
            </p>
        </div><div class="d-md-inline-block bg-teal developer-card" data-aos="fade-up" data-aos-delay="400">
            <p class="bold editable" data-aos="fade-up" data-aos-delay="800">
              Holler Premier Partner Program
            </p>
            <p class="editable" data-aos="fade-up" data-aos-delay="800">
              Your audience is unique and so should your content be. Partner with us to develop bespoke sticker programs for your app. Access granted on a case by case basis.
            </p>
        </div><div class="d-md-inline-block bg-pink developer-card" data-aos="fade-up" data-aos-delay="600">
            <p class="bold editable" data-aos="fade-up" data-aos-delay="800">
              Localization
            </p>
            <p class="editable" data-aos="fade-up" data-aos-delay="800">
              Our network of global localizers ensure accurate delivery of content to your users across languages.
            </p>
        </div><div class="d-md-inline-block bg-orange developer-card" data-aos="fade-up" data-aos-delay="800">
            <p class="bold editable" data-aos="fade-up" data-aos-delay="800">
              Editorial
            </p>
            <p class="editable" data-aos="fade-up" data-aos-delay="800">
              Our in house editorial team programs content to capture holidays, tentpoles, memes, and more.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid bg-light py-5">
    <div class="container">
        
            <h3 class="bold text-center mb-4 editable">
          Enrich Your Conversation
        </h3><br />
            <div class="row emogis">

                {% for emogi in site.data.emogis %}
                <div class="col-4 col-sm-3 col-md-2 mb-3">
                    <a href="#">
                        <div class="emogi" style="background-image:url({{emogi.image}})"></div>  
                    </a>
                </div>
                {% endfor %}
            </div>
        
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-10 offset-1 text-center py-5">
            <h2>On Demand and Easy. Our platform enables easy access to sticker content. We’re at your user’s fingertips when they need us. </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 text-center pt-5 bg-dark order-md-1">
            <div class="row">
                <div class="col-6 col-sm-12 col-lg-6 offset-3  offset-sm-0 offset-lg-3" data-aos="fade-up">
                    <p class="bold editable">
                      Smart Suggestions
                    </p>
                    <p class="editable">
                      Real time content recommendations based on context of conversation.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 bg-dark pt-4 pb-5 order-md-4">
            <div class="smartphone m-auto" data-aos="fade-up">
                <img class="active" src="/assets/img/SmartSuggestionsFlow.gif" />
                <img class="static" src="/assets/img/SmartSuggestionsFlow.png" />
            </div>
        </div>
        <div class="col-sm-6 col-md-4 text-center pt-5 bg-purple order-md-2">
            <div class="row">
                <div class="col-6 col-sm-12 col-lg-6 offset-3  offset-sm-0 offset-lg-3" data-aos="fade-up" data-aos-delay="200">
                    <p class="bold editable">
                      Search
                    </p>
                    <p class="editable">
                      Powerful text and emotion based search helps users find the perfect sticker.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 bg-purple pt-4 pb-5 order-md-5">
            <div class="smartphone m-auto" data-aos="fade-up" data-aos-delay="200">
                <img class="active" src="/assets/img/SearchFlow.gif" />
                <img class="static" src="/assets/img/SearchFlow.png" />
            </div>
        </div>
        <div class="col-sm-6 col-md-4 text-center pt-5 bg-teal order-md-3">
            <div class="row">
                <div class="col-6 col-sm-12 col-lg-6 offset-3  offset-sm-0 offset-lg-3" data-aos="fade-up" data-aos-delay="400">
                    <p class="bold editable">
                      Catalogue
                    </p>
                    <p class="editable">
                      Browse our library of thousands of stickers and curate your own sets.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 bg-teal pt-4 pb-5 order-md-6">
            <div class="smartphone m-auto" data-aos="fade-up" data-aos-delay="400">
                <img class="active" src="/assets/img/CatalogFlow.gif" />
                <img class="static" src="/assets/img/CatalogFlow.png" />
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-light mt-5">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-3 px-3" data-aos="fade-up">
                <h3 class="bold mt-2 mt-md-0 mb-md-4 editable">
                  Private by Design
                </h3>
                <p class="editable">
                  We believe your user&rsquo;s conversations are theirs not ours, we just want to make it better! That&rsquo;s why Holler Kit was designed to send as minimal data from your app as possible while allowing users to get access to all our great features.
                </p>
            </div>
            <div class="col-md-3 px-3" data-aos="fade-up" data-aos-delay="300">
                <h3 class="bold mt-2 mt-md-0 mb-md-4 editable">
                  Seamless Integration
                </h3>
                <p class="editable">
                  Adding fun to conversation should be simple, so we made it that way. With a simple and fast integration add Holler to your app.&nbsp; Alter colors, fonts, and a myriad of UI components so that your app feels like&hellip; your app.
                </p>
            </div>
            <div class="col-md-3 px-3" data-aos="fade-up" data-aos-delay="600">
                <h3 class="bold mt-2 mt-md-0 mb-md-4 editable">
                  Monetize Messaging
                </h3>
                <p class="editable">We believe your user’s conversations are theirs not ours, we just want to make it better! That’s why Holler Kit was designed to send as minimal data from your app as possible while allowing users to get access to all our great features.</p>
            </div>
            <div class="col-md-3 px-3" data-aos="fade-up" data-aos-delay="900">
                <h3 class="bold mt-2 mt-md-0 mb-md-4 editable">
                  Partnerships Built on Trust
                </h3>
                <p class="editable">
                  We review every app before integrating it with Holler Sapphire Kit so we can make sure it&rsquo;s a good fit for our community and yours!
                </p>
            </div>
        </div>
    </div>
</div>
{% if page.show-video %}
<div class="container-fluid">
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/235215203" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
</div>
{% endif %}