---
layout: default
title:
animated-phrases:
    -   starting-text: Hi. We're
        ending-text:
        middle-phrases:
            - glad you stopped by
            - here to help
            - all about the convo
    -   starting-text: We make
        ending-text: for chat
        middle-phrases:
            - dynamic content    
            - tools
            - cool stuff
    -   starting-text: To help you
        ending-text: better
        middle-phrases:
            - express yourself
            - connect
            - communicate
            
apps:
  - iMessage
  - LinkedIn
  - TextNow
  - Twitch
  - Badoo
  - Hot or Not
  - Viber
  - Fleksy
  - Chrooma Keyboard
  - Mood Messenger
  - ChatAll
  - Bobble
  - ReBoard
  - UberSocial
  - textPlus
  - trutext
meta-content:
  image:
  description: >-
    Holler is all about enhancing your online conversation through messaging. We
    provide content for chat to help you connect, communicate and express
    yourself better. Learn more here.
---

<div class="container">
<div class="row h-100 text-center">
   <div class="col-sm-12 my-auto">
        <!-- <h1>Hi. We're <span id="typed" class="underlined purple" style="white-space:pre;">Holler</span></h1> -->
        <h1><span id="typed" style="white-space:pre;">Hi. We're Holler</span></h1>
        <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary-outlined mt-4">Watch Video</a>
   </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/235215203" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-8 mb-3">
        <p><span class="editable">Find Holler in your favorite apps:</span>
        <span id="apps" style="white-space:pre;" class="underlined">{{page.apps[0]}}</span>
            <!-- <span id="slideshow">
                {% for app in page.apps %}
                <span class="underlined">
                    {{ app }}
                </span>
                {% endfor %}
            </span> -->

        </p>
    </div>
    <!-- <div id="slideshow">
        {% for app in page.apps %}
            <span class="underlined">
                {{ app }}
            </span>
        {% endfor %}
    </div> -->
    <div class="col-4 text-right">
        <a class="social-link" href="{{ site.data.globals.instagram }}" target="_blank">
            <img src="{{site.url}}/assets/img/instagram.png" />
        </a>
        <a class="social-link" href="{{ site.data.globals.facebook }}" target="_blank">
            <img src="{{site.url}}/assets/img/facebook.png" />
        </a>
        <a class="social-link" href="{{ site.data.globals.twitter }}" target="_blank">
            <img src="{{site.url}}/assets/img/twitter.png" />
        </a>
        <a class="social-link" href="{{ site.data.globals.linkedIn }}" target="_blank">
            <img src="{{site.url}}/assets/img/linkedin.png" />
        </a>
    </div>
</div>


<div id="typed-strings">
    <p>Holler</p>
    {% for phrase in page.animated-phrases %}
        <p>{{ phrase.starting-text }}<span class="middle-phrase"> {{phrase.middle-phrases[0]}} </span>{{ phrase.ending-text }}</p>
    {% endfor %}
</div>

<div id="contentForAnimation" style="height:0px;overflow:hidden;opacity:0;background-color:red; font-size:50px;">
    {% for phrase in page.animated-phrases %}
        <div id="loop{{forloop.index}}">
            {%for mid in phrase.middle-phrases %}
                <span class="spanForAnimation">{{mid}}</span>
            {% endfor %}
        </div>
    {%endfor %}
</div>

<!-- <section class="rw-wrapper"> -->
	<h1 class="rw-sentence m-auto">
		<span>{{page.animated-phrases[0].starting-text}}</span>
		<div class="rw-words">
            <div class="rw-span-container">
            {%for mid in page.animated-phrases[0].middle-phrases %}
                <span>{{mid}}</span>
            {% endfor %}
            </div>
		</div>
	</h1>
<!-- </section> -->


<div id="app-list">
    {% for app in page.apps %}
            <p>
                {{ app }}
            </p>
        {% endfor %}
</div>

<script type="text/javascript">
        var typed = new Typed("#typed", {
            stringsElement: '#typed-strings',
            typeSpeed: 60,
            backSpeed: 30,
            backDelay: 3000,
            startDelay: 1000,
            loop: true
        });
        var typed = new Typed("#apps", {
            stringsElement: '#app-list',
            typeSpeed: 60,
            backSpeed: 30,
            backDelay: 500,
            startDelay: 1000,
            loop: true
        });
    </script>