<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Holler {% if page.title %}| {{ page.title}}{% endif %}</title>
  <meta name="author" content="{{ site.data.globals.author}}">
  <meta name="description" content="{{ site.data.globals.description}}">

  <script src="/js/typed.js" type="text/javascript"></script>

  <!-- Open Graph / Facebook -->
  <!-- <meta property="og:type" content="website">
  <meta property="og:url" content="https://xxxi.nyc">
  <meta property="og:title" content="XXXI | A Mixed-Use Project Space for Designers">
  <meta property="og:description" content="Thirty One is a mixed-use project space for the (design) community by XXIX at 411 E 9th St., NYC">
  <meta property="og:image" content="https://xxxi.nyc/assets/og.png"> -->

  <!-- Twitter -->
  <!-- <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://xxxi.nyc">
  <meta property="twitter:title" content="XXXI | A Mixed-Use Project Space for Designers">
  <meta property="twitter:description" content="Thirty One is a mixed-use project space for the (design) community by XXIX at 411 E 9th St., NYC">
  <meta property="twitter:image" content="https://xxxi.nyc/assets/og.png"> -->

  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png" sizes="16x16" />

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/custom/aos.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
