<div class="container">

<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="{{ site.url }}">
    {% if page.layout == 'bg-image' %}
    <img src="/assets/img/Holler_logo_solid.png" class="img-fluid">
    {% else %}
    <img src="/assets/img/Holler_logo_main-01.png" class="img-fluid">
    {% endif %}
  </a>
<a class="navbar-toggler" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <div></div><div></div><div></div><div></div>
  </a>
  <div class="collapse navbar-collapse text-right" id="navbarTogglerDemo03">
    <div class="container">
    <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <div style="background-color:white;"></div><div></div><div></div><div></div>
    </a>
    </div>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      {% for item in site.data.navigation %}
        {% if page.url == item.link %}
          <li><a class="nav-link active" href="{{ item.link }}">{{ item.name }}</a></li>
        {% else %}
          <li><a class="nav-link" href="{{ item.link }}">{{ item.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
</div>