<div class="tooltip-expand collapse" style="top:{{tooltip.top}}; left:{{tooltip.left}};" id="tooltip--{{tooltip.title}}">
        <div class="left-half">
            <p class="brown">{{tooltip.title}}</p>
            <p class="dark">{{tooltip.description}}</p>
        </div>
        <div class="right-half" style="background-image:url({{tooltip.image}})">
        </div>
        <a class="tooltip-icon position-absolute" style="top:0px; left:0px" data-toggle="collapse" href="#tooltip--{{tooltip.title}}" role="button" aria-expanded="false" aria-controls="tooltip--{{tooltip.title}}">
            <img src="/assets/img/tooltip.svg" data-aos="fade-up" style="transform:rotate(45deg)"/>
        </a>
</div>
<a class="tooltip-icon position-absolute" style="top:{{tooltip.top}}; left:{{tooltip.left}}" data-toggle="collapse" href="#tooltip--{{tooltip.title}}" role="button" aria-expanded="false" aria-controls="tooltip--{{tooltip.title}}">
    <img src="/assets/img/tooltip.svg" data-aos="fade-up"/>
</a>